.l-footer {
  background-color: #9ADF8E;
  border-radius: 0 0 2px 2px; // TODO: レスポンシブ対応にする？
  top: 100vh;
  position: sticky;
  &__copyright {
    color: #777777;
    font-size: 1rem;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 12px;
  }
}