.l-header {
  background-color: #9ADF8E;
  border-radius: 2px 2px 0 0; // TODO: レスポンシブ対応にする？
  &-inner {
    display: flex;
    justify-content: center;
    align-items: baseline;
    letter-spacing: 0.08em;
    padding-top: 4px;
    padding-bottom: 4px;
    &__title {
      font-size: 2rem;
      font-weight: bold;
      margin: 0 auto;
      font-family: "MPLUSRounded1c-Bold", sans-serif;
      text-shadow: 2px 4px 1px rgba(0, 0, 0, 0.25);
      &--fontfamily-niconne {
        font-family: "Niconne-Regular", sans-serif;
        font-weight: normal;
      }
    }
    &__bothends-space {
      width: 24px;
      height: 24px;
      margin: {
        right: 16px;
        left: 16px;
      }
    }
  }
}