.c-button {
  &__word-register {
    > button {
      font-weight: bold;
      text-align: center;
      position: relative;
      top: 0;
      width: 104px;
      height: 32px;
      background-color: #EAED4D;
      border: 2px solid #777777;
      border-radius: 20px;
      box-shadow: 0 4px 4px rgba(100, 100, 100, 0.75);
    }
    :active {
      top: 2px;
      box-shadow: none;
    }
  }
  &__setting {
    > button {
      font-weight: bold;
      text-align: center;
      position: relative;
      top: 0;
      width: 160px;
      height: 32px;
      background-color: #D9D9D9;
      border-radius: 5px;
      box-shadow: 0 4px 4px rgba(100, 100, 100, 0.75);
    }
    :active {
      top: 2px;
      box-shadow: none;
    }
  }
  &__start {
    > button {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      width: 72px;
      height: 24px;
      background-color: #E9E1FF;
      border: 2px solid #D9D9D9;
      border-radius: 20px;
    }
    :hover {
      background-color: #e6ebff;
    }
    :active {
      background-color: #6687ff;
    }
  }
  // 不要になり次第削除
  &__dammy {
    > button {
      text-align: center;
      position: relative;
      top: 0;
      width: 180px;
      height: 32px;
      background-color: #FFFFFF;
      border: 1px solid #777777;
      border-radius: 20px;
      box-shadow: 0 4px 1px rgba(100, 100, 100, 0.8);
    }
    :active {
      top: 2px;
      box-shadow: none;
    }
  }
}

// .c-button {
//   height: 30px;
//   width: 150px;
//   //// border: 1px solid $gray;
//   // color: $black;
//   // background-color: $white;
//   border-radius: 20px;
//   box-shadow: none;
//   //// font-size: $fs-text;
//   text-align: center;
//   cursor: pointer;
// }

// .btn {
//   background-color: red;
//   &:hover {
//     background-color: orange;
//   }
//   // &.is-active {}
//   &.-test {
//     background-color: greenyellow;
//     width: 160px;
//     margin: 8px;
//     padding: 8px;
//     border-radius: 16px;
//     &:hover {
//       background-color: gray;
//     }
//   }
//   &-test2 {
//     background-color: blue;
//     width: 160px;
//     margin: 8px;
//     padding: 8px;
//     border-radius: 16px;
//   }
// }