.test1 {
  color: orange;
}

.arrowLeft {
  transform: rotate( -90deg );
}

.arrowRight {
  transform: rotate( 90deg );
}

.cardField {
  display: flex;
  > article {
    > img {

    }
    > .cardTitle {
      background-color: azure;
    }
  }
}