.p-breadcrumb-user-area {
  font-size: 0.5em;
  max-width: 280px;
  max-height: 24px;
  margin: 0 auto;
  padding: {
    left: 20px;
    right: 12px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  .breadcrumb-list {
    display: flex;
    &__bothends-space {
      width: 24px;
      height: 24px;
    }
  }
  .user-name {
    display: flex;
    align-items: center;
    > p {
      padding-top: 2px;
    }
    &__bothends-space {
      width: 24px;
      height: 24px;
    }
  }
}