$v_bg_color: #F8F8F8;

.p-card {
  &-bundle {
    background-color: $v_bg_color;
    border-radius: 5px;
    &__header {}
    &__body {
      > .flash-card {}
    }
  }
  &-upper-rounded {
    background-color: $v_bg_color;
    border-radius: 5px 5px 0 0;
    &__header {
      max-height: 50px;
      display: flex;
      justify-content: space-between;
      margin: {
        left: 100% * (64 / 280) / 2;
        right: 100% * (64 / 280) / 2;
      }
      padding-top: 10px;
      > .page-icon {
        &__bothends-space {
          height: 40px;
        }
      }
      > .page-title {
        &__bothends-space {
          height: 50px;
        }
        > h2 {
          font-size: 1.25em;
          letter-spacing: 0.08em;
        }
      }
      > .button-side {
        &__bothends-space {
          height: 40px;
        }
      }
    }
    &__body {
      margin: {
        left: 100% * (64 / 280) / 2;
        right: 100% * (64 / 280) / 2;
      }
    }
  }
  &-lower-rounded {
    background-color: $v_bg_color;
    border-radius: 0 0 5px 5px;
  }
}